apps/n8n/workflows/google-tasks-list-tasks.json
{
  "name": "Google Tasks - List Tasks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-tasks-list-tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "taskList": "={{ $json.body.task_list_id || '@default' }}",
        "returnAll": true
      },
      "id": "googleTasks",
      "name": "Google Tasks",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "2",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, tasks: $json }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}


