apps/n8n/workflows/notion-query-database.json
{
  "name": "Notion - Query Database",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notion-query-database",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "query",
        "databaseId": "={{ $json.body.database_id }}",
        "filters": "={{ $json.body.filters }}",
        "sorts": "={{ $json.body.sorts }}",
        "returnAll": true
      },
      "id": "notion",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "notionApi": {
          "id": "3",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, pages: $json }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}


